@use 'helpers' as *;
html {
  scroll-behavior: smooth;
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-light);
  background-color: var(--color-dark);
}

main {
  flex-grow: 1;
}

h1,
.h1 {
  @include fluid-text(32, 24);
  line-height: 1.5;
  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  font-size: rem(14);
  line-height: 1.43;
  font-weight: 400;
  color: var(--color-link);
  @include fluid-text(16, 16);
  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) solid var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
