@use 'helpers' as *;

:root {
  --color-light: white;
  --color-white: #fafcff;
  --color-red: #ff4d00;
  --color-dark: #050506;
  --color-gray2: #c0c4cc;
  --color-link: #a8acb3;
  --color-link-active: #5f6166;
  --font-family-base: 'Montserrat', 'sans-serif';
  --container-width: #{rem(1544)};
  --container-padding-x: #{rem(34)};
  --transition-duration: 0.2s;
}
