@use '../../helpers' as *;

.footer {
  margin-top: rem(32);
  &__inner {
    display: flex;
    flex-direction: column;
    gap: rem(32);
  }

  &__body {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: rem(16);
  }

  &__item {
    a {
      text-decoration: none;
      font-weight: 500;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  &__extra {
  }

  &__copyright {
  }
}
