@use '../../helpers' as *;

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background);
    color: var(--color-text-light);
    border: none;

    border: 1px solid #c0c4cc;
    border-radius: 8px;
    padding: rem(8) rem(12);
    width: rem(141);
    height: rem(42);
    background: #101112;
  }
  &__icon {
    width: 12px;
    height: 12px;
    opacity: 0.6;
  }
  &__menu {
    display: none;
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 100%;
    left: 10%;
    margin-top: rem(8);
    list-style: none;
    padding: rem(8);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
    background: #18191a;
    border-radius: 8px;
    border: 1px solid #303133;
    width: rem(320);
    height: rem(116);
    min-width: rem(200);
    max-width: rem(360);
    z-index: 10;
    li {
      padding: rem(8);
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        fill: red;
      }
      &[aria-selected='true'] {
        background: #232426;
        border-radius: rem(8);
      }
      &:not([aria-selected='true']) {
        .dropdown__check {
          filter: brightness(0.4);
          opacity: 0.4;
        }
      }
    }
  }
  &__menu::-webkit-scrollbar {
    width: 4px;
  }
  &__menu::-webkit-scrollbar-track {
    background: transparent;
  }
  &__menu::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #48494d;
  }
}
